.highlight {
    background-color: yellow;
    text-decoration: underline;
}

p {
    color: rgb(84, 0, 219);
    font-size: 12px;
}

#something {
    background-color: lightgray;
    padding: 40px;
    border: 2px solid black;
}

a:hover {
    color: red;
}

#projects-section {
    padding: 20px;
    margin: 30px;
    border: 2px solid blue;
}